useDynLib(ManlyMix)
importFrom("graphics", "contour", "points")
importFrom("stats", "rmultinom", "rnorm")
importFrom("utils", "combn")
export(Manly.EM)
export(Manly.select)
export(Manly.Kmeans)
export(Manly.contour)
export(Manly.var)
export(Manly.sim)
export(Manly.overlap)